# Logs
main/logs
main/*.log
main/npm-debug.log*
main/yarn-debug.log*
main/yarn-error.log*
main/pnpm-debug.log*
main/lerna-debug.log*

main/node_modules
main/dist
main/dist-ssr
main/*.local

# Editor directories and files
main/.vscode/*
main/!.vscode/extensions.json
main/.idea
main/.DS_Store
main/*.suo
main/*.ntvs*
main/*.njsproj
main/*.sln
main/*.sw?
